@import './styles/utils';
.SassComponent {
  display: flex;
  flex-wrap: wrap;
  .box {
    width: 100px;
    height: 100px;
    margin: 5px;
  }

  .red { background: red; }
  .orange { background: orange; }
  .yellow { background: yellow; }
  .green { background: green; }
  .blue { background: blue; }
  .indigo { background: indigo; }
  .violet { background: violet; }
}
    